<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
<div>
    <h1>Welcome to kitchen app!</h1><br>
    <p>This site has been visited {{ count }} times.</p>
</div>

<style>
    * {
        font-family: "Josefin_sans", "sans-serif";
    }

    div{
        text-align: center; 
        margin-top: 50px;
    }

    h1{
        color: rosybrown;
        font-size: 30pt;
    }

    p{
        font-size: 25pt;
    }
</style>